h1{
    font-size: 50px;
}

ul{
    display: flex;
    list-style: none;
    
}
li{
    padding: 5px;
    padding-right: 20px;


}
a{
    color: white;
    text-decoration: none;
}

#navbar{
    display: flex;
    border: red solid 1px;
    justify-content: flex-end;
    background: rgb(177, 59, 59);
    position: fixed;
    width: 100%;
   
}


#welcome-section{
    /* height: 100vp; */
    border: red solid 1px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


@media screen and (max-width: 1024px){
 #welcome-section{
     height: 100vh;
 }
}