h1{
    font-size: 50px;
}

p{

    color: rgb(177, 59, 59);
}

ul{
    display: flex;
    list-style: none;
    
}
li{
    padding: 5px;
    padding-right: 20px;


}
a{
    color: white;
    text-decoration: none;
}

.contct-div{
    padding-top: 20px;
}

#navbar{
    display: flex;
    border: red solid 1px;
    justify-content: flex-end;
    background: rgb(177, 59, 59);
    position: fixed;
    width: 100%;
   
}

#contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 50vh;
        padding: 0 2rem;
        background: gray;
        font-size: 25px;
}


#welcome-section{
    /* height: 100vp; */
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

}


@media screen and (max-width: 1024px){
 #welcome-section{
     height: 100vh;
 }
}